* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 100vh;
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 50px 0 60px;
}

.logo__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo__heading > img {
  margin-right: 10px;
}

.logo__heading > h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #3d2514;
}

.delivery {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.delivery > img {
  margin-right: 10px;
}

.delivery > span {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #3d2514;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 50px;
}

.nav__links > li {
  list-style: none;
  margin-left: 60px;
}

.nav__links > li > a {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #3d2514;
  text-decoration: none;
}

.nav__links > li > a:hover {
  text-decoration: underline;
}

.nav__center {
  display: flex;
  margin: 0 50px;
}

.nav__left {
    max-width: 50%;
}

.dotted {
  font-size: 15px;
  color: #3d2514;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 12px 18px 8px;
  border: 2px dashed #3d2514;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 50px;
  font-weight: 500;
}

.main__heading {
    font-size: 120px;
    color: #3d2514;
    font-weight: 700;
    font-family: 'Alfa Slab One', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    text-shadow: 4px 5px #fee7ba;
    letter-spacing: 5px;
}

.main__heading > span {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 80px;
}

.nav__right {
    max-width: 50%;
}

.nav__right > img {
    width: 100%;
}