.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
}

.chess-board th {
  padding: 0.5em;
}

.chess-board td {
  border: 1px solid;
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.chess-board .light {
  background: #eee;
}

.chess-board .dark {
  background: #000;
}
